@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

.link {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

.link:hover {
    color: #2BFF7B;
}

.link:target {
    color: white;
    border-color: black;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
}

.logo {
    color: white;
    margin: 0px 60px 0px 0px;
    -webkit-transition: color 0.5s; /* For Safari 3.1 to 6.0 */
    transition: color 0.5s;
}

.logo:hover {
    color: #2BFF7B;
}

.container{
    background-color: #0F0F0F;
    border-color: #0F0F0F;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom:10px;
}